.data-container {
  color: var(--color-gray-8);
  background-color: var(--color-gray-2);
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-container.dark {
  color: var(--color-gray-2);
  background-color: var(--color-gray-8);
}

.gray-box {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  background: #F0F2F2;
  flex: 1;
  min-width: 120px;
  margin: 4px;
  padding: 16px;
  padding-bottom: 12px;
  word-break: break-all;
  flex-wrap: wrap;
}
