.data-container {
  color: var(--color-gray-8);
  background-color: var(--color-gray-2);
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-container.dark {
  color: var(--color-gray-2);
  background-color: var(--color-gray-8);
}
