.filter-box-outer {
  border-radius: 8px;
  border: 1px solid #DADDDE;
  box-sizing: border-box;
  padding: 24px;
}

.filter-gray-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  background: #F0F2F2;
  flex: 1;
  margin: 4px;
  padding: 8px;
}

.filter-section-title {
  color: #464748;
  font-weight: 700;
  font-size: 16px;
  padding: 4px;
}

input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: #FDFDFD;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 0.477273px solid #DADDDE;
}

input[type=checkbox]:checked {
  background: #FDFDFD;
}

input[type=checkbox]:checked:after {
  content: '\2713';
  font-size: 14px;
  font-weight: 700;
  color: #464748;
  position: absolute;
  top: 0px;
  left: 3px;
}
