.tx-cell-outer {
  border-radius: 8px;
  border: 8px solid var(--color-gray-1);
  box-sizing: border-box;
  padding: 32px;
  margin: 16px 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tx-cell-outer.dark {
  border: 1px solid var(--color-gray-5);
}
