.header {
  /* border-bottom: 1px solid var(--color-black); */
  margin-top: 32px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.header.dark {
  /* border-bottom: 1px solid var(--color-white); */
}

.section-box {
  padding: 4px;
  margin: 4px;
  /* border: 1px solid var(--color-black); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-box.dark {
  /* border: 1px solid var(--color-white); */
}

.section-components {
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
  flex-direction: column;
}

.app-button {
  background: #070707;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 186px;
  height: 46px;
  cursor: pointer;
  user-select: none;
}

.app-button-text {
  color: #FDFDFD;
  font-weight: 400;
  font-size: 16px;
}
